@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
.bg-custom {
    background-color: #f5eed3;
  }
/* Card component */

  .card-container {
    max-width: 30rem;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: auto;
}

.slogan-card-position {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
  
.page-container-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh; /* adjust this value as needed */
}

/* Styles for screens smaller than 640px */
@media (max-width: 640px) {
  .page-container-middle {
    height: 40vh;
  }
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .page-container-middle {
    height: 60vh;
  }
}

/* Styles for screens smaller than 1024px */
@media (max-width: 1024px) {
  .page-container-middle {
    height: 80vh;
  }
}

.our-work-button a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1c1c1e; /* soft black */
    color: #BCA56F; /* golden */
    text-decoration: none;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  
  .our-work-button a:hover {
    background-color: #d4af37; /* golden */
    color: #1c1c1e; /* soft black */
  }
  .text-xl {
    font-size: 1.25rem;
  }

  .view-work-card {
    margin-left: 9rem;
  }
  
  .mb-2 {
    margin-bottom: .5rem;
  }

  .card {
    position: relative;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: auto;
  }
  
  .card-image:hover {
    transform: scale(1.1);
  }

  .card-title {
    transition: transform 0.2s ease-in-out;
  }
  
  .quotes-form {
    height: 100%;
  }